body {
    background-color: black;
}

table {
    font-size: 72px;
    font-family: monospace;
    margin: auto;
    text-align: center;
}

td {
    width: 230px;
    height: 230px;
}

.xs {
    color: #BA4B2B;
}

#tl {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

#tm {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#tr {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#ml {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

#mm {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#mr {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#bl {
    border-top: 2px solid white;
    border-right: 2px solid white;
}

#bm {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#br {
    border-top: 2px solid white;
    border-left: 2px solid white;
}

