html, body {
    overflow-x: hidden;
    background-color: black;
  }

.full-width-bar {
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.3rem 9999rem;
  }

h1.full-width-bar {
    background: grey;
}

p, h1, .status {
    font-size: 20px;
    font-family: monospace;
    color: white;
}

#outcome-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0);
}

#you-win {
    background: green;
}

#you-lose {
    background: red;
}

#tie {
    background: darkorange;
}

#choose {
    background: purple;
}

#status-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0);
}

table {
    font-family: monospace;
    margin: 0;
    text-align: center;
    vertical-align: center;
    padding: 0;
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

tr {
    height: 100px;
}

td {
    width: 100px;
    height: 100px;
    white-space: pre;
    padding: 0px;
    border: 8px;
    vertical-align: center;
}

.xs {
    color: #BA4B2B;
    background-color: black;
}

.os {
    color: white;
    background-color: black;
}

.dim {
    opacity: 0.2;
}

#magmo-logo {
    position: absolute;
    right: 0%;
    bottom: 30px;
    transform: translate(0,-00%);
}
.blank {
    margin: 0;
    padding: 0;
}

#tl {
    border-bottom: solid white;
    border-right: solid white;
}

#tm {
    border-bottom: solid white;
    border-right: solid white;
    border-left: solid white;
}

#tr {
    border-bottom: solid white;
    border-left: solid white;
}

#ml {
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
}

#mm {
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
    border-left: solid white;
}

#mr {
    border-top: solid white;
    border-bottom: solid white;
    border-left: solid white;
}

#bl {
    border-top: solid white;
    border-right: solid white;
}

#bm {
    border-top: solid white;
    border-right: solid white;
    border-left: solid white;
}

#br {
    border-top: solid white;
    border-left: solid white;
}

