@media screen and (min-device-width:698px) {
    div#showgrid {
      width: 698px;
      margin: auto;
    }
  }
  
  div.column {
    border-style: solid;
    border-width: 1px;
    font-size: 100px;
    text-align: center;
    line-height: 230px;
  }
  
  .row {
    width: 100%;
    margin: auto;
  }
  
  @media (min-device-width: 698px) {
    .column {
      width: 230px;
      height: 230px;
      display: inline;
      float: left;
    }
  }
  
  .column {
    width: 230px;
    height: 230px;
    margin: auto;
  }